[user]
	name = Sebastian Ganslandt
	email = sebastian@ganslandt.nu
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[color]
	ui = true

[alias]
  co = checkout
  ci = commit
  s = status
  st = stash
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p

[push]
  default = simple

[branch]
  autosetuprebase = always
